<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.decrypto.dostana">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Loading_signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zoom_Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity android:name=".Chat_activity" />
        <activity
            android:name=".Messaging"
             android:theme="@style/MessageTheme"/>
    </application>

</manifest>